.Home {
    background-attachment: fixed;
    position: relative !important;
    z-index: 1;
    background-image: linear-gradient(220deg, #ec4c94, #3A0CA3 20%, #7209B7 55%, #4361EE 80%, #4CC9F0 90%)
}

.boxes {
    border: 1px solid black;
}