.Home {
  background-attachment: fixed;
  display: flex;
  z-index: 1;
  height: 100%;
  background-image: linear-gradient(
    220deg,
    #ec4c94,
    #3a0ca3 20%,
    #7209b7 55%,
    #4361ee 80%,
    #4cc9f0 90%
  );
}
