body {
    margin: 0;
    font-family: "Lato", sans-serif;
  }
  
  .sidebar {
    display: flexbox;
    padding: 0;
    width: 18%;
    background-color: #fdfdfd9a;
    position: fixed;
    left: 0;
    height: 100vh;
    overflow: auto;
  }

  .nav-logo {
    font-family: 'Style Script';
    src: url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
    font-weight: 600;
    font-size: 2rem;
  }

  .sidebar a {
    display: flex;
    color: black;
    text-decoration: none;
    font-size: 19px;
  }
   
  .sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color:#fdfdfd10;
    color: white;
    border-radius: 40px;
  }

  .navbar-nav a {
    padding: 10%;
    align-items: center;
  }
  .logoIcon {
    visibility: hidden;
  }

  .logout {
    position: absolute;
    bottom: 0;
  }
  
  @media screen and (max-width: 1200px) {
    .sidebar {
      width: 10%;
    }
    .navtext {display: none;}
    .nav-logo {display: none;}
    .logoIcon {
      visibility:visible!important;
     margin: 20%;
    }
    .sidebar a {
      justify-content: center;
      margin: 20%;
      font-size: 25px;
    }
    #logoutIcon {
      position: fixed;
      bottom: 0;
      padding-bottom: 15px;
    }
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }